{% extends "base.html" %}

{% block content_top %}
<h1 style="margin-left:20px;margin-top:30px;">API DMEO 首页</h1>
<hr/>
{% endblock %}
{% block content %}
<div style="margin-left:30px;margin-top:30px;">
<h3><a href="/upload" style="text-decoration:none;">上传视频</a></h3>
<h3><a href="/notify_info" style="text-decoration:none;">视频回调</a></h3>
<h3><a href="/videolist" style="text-decoration:none;">视频列表</a></h3>
<h3><a href="/search" style="text-decoration:none;">视频搜索</a></h3>
<h3><a href="/userinfo" style="text-decoration:none;">用户信息</a></h3>
</div>
{% endblock %} 