{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="js/swfobject.js"></script>
<style type="text/css">
.fla_btn {
	position: relative;
}

.fla_btn embed {
	position: absolute;
	z-index: 1;
}
#swfDiv{*position:absolute; z-index:2;}
</style>
{% endblock %}
{% block title %}upload demo{% endblock %}
{% block content %}

<div id="tips"></div>
<form id="addvform" name="addvform" action="" method="get">
	<div class="fla_btn">
		<span style="float:left;">选择视频：<input id="videofile" name="videofile" type="text" /></span>
		<div id="swfDiv"></div> 
		<input type="button" value="upload" id="btn_width" style="width: 80px; height: 25px" />
	</div>
	<div style="clear:both;">视频标题：<input id="title" name="title" type="text" /></div>
	<div>视频标签：<input id="tag" name="tag" type="text" /></div>
	<div>视频简介：<textarea id="description" name="description" rows="5" cols="30" style="width:302px;"></textarea></div>
	<input id="videoid" name="videoid" type="hidden" value="" />
	<div>视频分类：
		<select id="supercategory" onchange="show();">
			{% for category in categories %}
				<option value={{category.id}}>{{category.name}}</option>
			{% endfor %}
		</select>
		
		{% for category in categories %}
			<select id="sub_{{category.id}}" style="display: none;" name="sub_category">
				{% for subcategory in category.sub_category %}
				<option value={{subcategory.id}}>{{subcategory.name}}</option>
				{% endfor %}
			</select>
		{% endfor %}
	</div>
	<div style="padding:5px;"><input type="button" value="提交" onclick="submitvideo();"></div>
	<br />
	<hr />videoid:<div id="videoidshow"></div>
	<div>上传进度：<span id="up"></span></div>
	<div>请求地址：<br/><span id="request_params"></span></div>
</form>

<script type="text/javascript">
	var swfobj=new SWFObject('http://union.bokecc.com/flash/api/uploader.swf', 'uploadswf', '80', '25', '8');
	swfobj.addVariable( "progress_interval" , 1);	//	上传进度通知间隔时长（单位：s）
	swfobj.addVariable( "notify_url" , "http://192.168.4.235:8000/notify");	//	上传视频后回调接口
	swfobj.addParam('allowFullscreen','true');
	swfobj.addParam('allowScriptAccess','always');
	swfobj.addParam('wmode','transparent');
	swfobj.write('swfDiv');

	function on_spark_selected_file(filename) {
		document.getElementById("videofile").value = filename;
	}
	
	function on_spark_upload_validated(status, videoid) {
		if (status == "OK") {
			alert("上传正常,videoid:" + videoid);
			document.getElementById("videoid").value = videoid;
			document.getElementById("videoidshow").innerHTML = videoid;
		} else if (status == "NETWORK_ERROR") {
			alert("网络错误");
		} else {
			alert("api错误码：" + status);
		}
	}
	
	function on_spark_upload_progress(progress) {
		var uploadProgress = document.getElementById("up");
		if (progress == -1) {
			uploadProgress.innerHTML = "上传出错：" + progress;
		} else if (progress == 100) {
			uploadProgress.innerHTML = "进度：100% 上传完成";
		} else {
			uploadProgress.innerHTML = "进度：" + progress + "%";
		}
	}
	
	function positionUploadSWF() {
		document.getElementById("swfDiv").style.width = document.getElementById("btn_width").style.width;
		document.getElementById("swfDiv").style.height = document.getElementById("btn_width").style.height;
	}
	
	//控制上传
	function submitvideo() {
		var title = encodeURIComponent(document.getElementById("title").value, "utf-8");
		var tag = encodeURIComponent(document.getElementById("tag").value, "utf-8");
		var description = encodeURIComponent(document.getElementById("description").value, "utf-8");
		var superCategory = encodeURIComponent(document.getElementById("supercategory").value, "utf-8");
		var subCategory = document.getElementById("sub_" + superCategory);
		if (document.getElementById("supercategory") != null && subCategory == null){
			document.getElementById("tips").innerHTML = "<div style='color:red;'>一级分类不能添加视频，请重新选择</div>";
			return;
		}
		
		var url = "getuploadurl?title=" + title + "&tag=" + tag
				+ "&description=" + description;
		
		if (subCategory != null) {
			url = url + "&categoryid=" + subCategory.value;
		}
		
		var req = getAjax();
		req.open("GET", url, true);
		req.onreadystatechange = function() {
			if (req.readyState == 4) {
				if (req.status == 200) {
					var re = req.responseText;//获取返回的内容
					document.getElementById("uploadswf").start_upload(re); //	调用flash上传函数
					document.getElementById("request_params").innerHTML = re;
				}
			}
		};
		req.send(null);
	}
	
	function getAjax() {
		var oHttpReq = null;

		if (window.XMLHttpRequest) {
			oHttpReq = new XMLHttpRequest;
			if (oHttpReq.overrideMimeType) {
				oHttpReq.overrideMimeType("text/xml");
			}
		} else if (window.ActiveXObject) {
			try {
				oHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
			} catch (e) {
				oHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
			}
		} else if (window.createRequest) {
			oHttpReq = window.createRequest();
		} else {
			oHttpReq = new XMLHttpRequest();
		}

		return oHttpReq;
	}
	
	//控制视频分类显示
	showSub();
	function show() {
		subCategorys = document.getElementsByName("sub_category");
		for ( var i = 0; i < document.getElementsByName("sub_category").length; i++) {
			subCategorys[i].style.display = 'none';
		}
		showSub();
	}

	function showSub() {
		var superCategory = document.getElementById("supercategory").value;
		var subCategory = document.getElementById("sub_" + superCategory);
		if (subCategory != null) {
			subCategory.style.display = 'inline';
		}
	}
</script>
{% endblock %}